body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

h1 {
    
}

#main {
    width: 700px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#chats {
    border-radius: 25px;
    width: 500px;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    background: #CCE9FE;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.username {
    font: italic bold 12px/30px Georgia, serif;
}

.friendsList {
    background: yellow;
    background-color: yellow;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #ddd;
    margin-right: 5px;
    float:left;    
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.btn {
  background: #49f21f;
  background-image: -webkit-linear-gradient(top, #49f21f, #9e9ee3);
  background-image: -moz-linear-gradient(top, #49f21f, #9e9ee3);
  background-image: -ms-linear-gradient(top, #49f21f, #9e9ee3);
  background-image: -o-linear-gradient(top, #49f21f, #9e9ee3);
  background-image: linear-gradient(to bottom, #49f21f, #9e9ee3);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #0d020d;
  font-size: 14px;
  width: auto;
  height: 40px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px;
}

/*Dropdown*/
.dropbtn {
    border-radius: 25px;
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    border-radius: 25px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}